@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Recursive:300,regular,500,600,700,800,900);

:root {
  --bg-color: #232830;
  --primary-color: #fff;
  --secondary-color: #ff7575;
  --text-color: #0f1217;
  --controls-color: #909090;
}

body {
  background-color: var(--bg-color);
  font-family: Poppins, sans-serif;
  color: var(--primary-color);
  font-weight: 300;
}

.container {
  max-width: 1244px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 515px;

  margin-top: 75px;

  .header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 1244px;

    .header__label {
      font-size: 30px;
    }

    .header__links {
      width: 361px;
      display: inline-flex;
      flex-direction: row;
      justify-content: space-between;

      font-size: 24px;
    }
  }

  .header__img {
    width: 194.445px;
    height: 204.084px;
    flex-shrink: 0;
  }

  .header__h1 {
    color: var(--secondary-color);
    font-family: Recursive;
    font-size: 71px;
    font-style: italic;
    font-weight: 400;
  }

  .header__h2 {
    font-size: 29px;
  }
}

.line {
  margin-top: 99px;
  height: 3px;
  opacity: 0.2;
  background-color: #4d4d4d;
}

.nav {
  display: flex;
  align-items: center;

  color: var(--controls-color);
  font-family: Recursive;
  font-size: 27px;
  font-style: italic;
  font-weight: 400;

  margin-top: 16px;

  .nav__img:first-child {
    margin-right: 13px;
  }

  .nav__topics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-left: 41px;

    /* .nav__topic {
      margin-left: 36px;
    } */

    .nav__topic:first-child {
      margin-left: 0px;
    }
  }
}

.main {
}
